@mixin pc {
  @media (min-width: (1025px)) {
    @content;
  }
}

body {
  overflow: hidden;
  header {
    z-index: 100;
    position: fixed;
    left: 0;
    margin-left: 10px;
    bottom: 0;
    ul {
      padding: 0;
      list-style-type: none;
      margin-bottom: 10px;
      a {
        text-decoration: none;
      }
      .hirocom {
        width: 30px;
        margin-bottom: 5px;
      }
      .instaLink {
        path {
          fill: rgb(255, 255, 255);
        }
        &:hover {
          path {
            fill: rgb(255, 68, 109);
          }
        }
        .instagram {
          width: 30px;
        }
      }
      .twitterLink {
        path {
          fill: rgb(255, 255, 255);
        }
        &:hover {
          path {
            fill: rgb(27, 125, 236);
          }
        }
        .twetter {
          width: 30px;
          margin-top: 5px;
        }
      }
    }
  }
  main {
    background-image: url("../img/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .bgFilter {
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 100%;
      .midashiBox {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        transition-delay: 0.7s;
        transition: 1s;
        .nittei {
          color: #fff;
          font-size: 4vw;
          font-family: "Dela Gothic One", cursive;
          @include pc {
            font-size: 2vw;
          }
        }
        .siteButton {
          background: #fff;
          border-radius: 15px;
          height: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          a {
            color: #000;
            text-decoration: none;
            display: block;
            margin: 0 10px;
            @include pc {
              font-size: 1.5vw;
            }
          }
        }
        h1 {
          font-family: "Dela Gothic One", cursive;
          font-size: 9vw;
          text-align: center;
          color: #fff;
          font-weight: normal;
          @include pc {
            font-size: 7vw;
          }
        }
      }
    }
  }
}

//カーソル

#cursor {
  display: none;
  @include pc {
    display: inline;
    transform: translate(0, 0);
    pointer-events: none;
    position: fixed;
    top: -4px; //座標調節（カーソル位置と円の中心を合わせる）
    left: -4px; //座標調節（カーソル位置と円の中心を合わせる）
    width: 8px; //カーソルの直径
    height: 8px; //カーソルの直径
    background: #f39939;
    opacity: 0.7;
    border-radius: 50%;
    z-index: 999;
    transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
    &.hov_ {
      top: -12px; //大きくなった分の座標調節
      left: -12px; //大きくなった分の座標調節
      width: 32px; //カーソルの直径
      height: 32px; //カーソルの直径
      background: #f39939;
      opacity: 0.8;
    }
  }
}

html,
body,
a {
  cursor: auto;
  @include pc {
    cursor: none;
  }
}
